ROOT_PATH=downloads
IMG_PATH=images
BOOK_PATH=books
SITE_URL_ROOT=https://tululu.org
SITE_URI_TXT=txt.php
DESCRIPTION_FILE=books.json
TIMEOUT=10
RETRY_COUNT=5
STATUS_FORCE_LIST=429,500,502,503,504
ALLOWED_METHODS=HEAD,GET,OPTIONS