<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
    <link rel="mask-icon" href="../static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Book Library</title>
  </head>
  <body>
    <nav class="mx-auto mt-3 pl-5" aria-label="Book Library Page navigation">
      <ul class="pagination">
        {% if current_page == 1 %}
          <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Предыдущая</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="index{{current_page - 1}}.html">Предыдущая</a></li>
        {% endif %}

        {% for page_number in range(1, total_pages + 1) %}
          {% if page_number == current_page %}
            <li class="page-item active" aria-current="page"><a class="page-link" href="#"><span class="sr-only">(current)</span>{{page_number}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{page_number}}.html">{{page_number}}</a></li>
          {% endif %}
        {% endfor %}

        {% if current_page == total_pages %}
          <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Следующая</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="index{{current_page + 1}}.html">Следующая</a></li>
        {% endif %}

      </ul>
    </nav>
    <div class="container">
      <div class="row">
        {% for card_book in card_books %}
          <div class="card mb-3 col-6" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{card_book.img_src | replace('downloads', '../downloads') | urlencode }}" class="card-img" alt="{{card_book.title}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{card_book.title}}</h5>
                  <p class="card-text">{{card_book.author}}</p>
                  <p class="card-text">
                    {% for genre in card_book.genres%}
                      <span class="badge badge-pill badge-dark">{{genre}}</span>
                    {% endfor %}
                  </p>
                  <p class="card-text"><a href="{{card_book.book_path | replace('downloads', '../downloads') | urlencode }}" target="_blank" rel="noopener noreferrer">Читать</a></p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="../static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>